.common-table {
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
    border-spacing: 0;
    border-top: solid;
    border-bottom: solid;
}

.common-table-header-column {
    border-bottom: 2px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
}

.common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
}
.common-table-row {
    border-bottom: 1px solid #a3a1a1;

}

.common-table-column {
    padding: 10px 5px;
}


/*#root{
    width: 90%;
    margin: 0 auto;
    position:relative;
}*/
.changePage{
    align-items: center;
    left: 45%;
    display: inline-block;
    position: absolute;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #000000;
    color: #d7fff1;

}

.changePage:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}