.App{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.login_page{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
}

/*div {*/
/*    box-sizing: border-box;*/
/*}*/
.list {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid grey;
}
.modal{
    margin-top: 20px;
    padding: 20px;
    background: #eee;
    text-align: left;
}

.black_nav {
    box-sizing: border-box;
    display: flex;
    background: black;
    width: 100%;
    height: 70px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 11;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.logo{
    margin: 15px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.home_link{
    cursor: pointer;
    text-decoration: none;
}
.need_img, .tlist_text{
    color: white;
}
.left_nav{
    display: flex;
    align-items: stretch;
    padding: 0;
    margin-left: 30px;
}
.right_nav{
    display: flex;
    padding: 0;
    margin-left: auto;
}
.top_list{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
.tlist_item{
    padding: 0;
    display: flex;
    align-items: center;
}
.tlist_item_a{
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
}
.tlist_text{
    color: white;
    font-size: 16px;
}
@media screen and (max-width: 900px){
    .left_nav{display: none;}
    .right_nav{display: none;}
    .logo{margin: auto;}
}
.login_wrap {
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 80px;
    min-height: calc(100vh - 156px);
    display: table;
    table-layout: fixed;
}
.login_box{
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    padding-top: 80px;
    padding-bottom: 20px;
}
.login_head{
    padding-top: 70px;
    padding-bottom: 30px;
}
.login_input_form{
    box-sizing: border-box;
}
.input, button{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

.input, .login_btn, .mem_btn, .cancle_btn{
    width: 100%;
    height: 45px;
    /* margin-top: 10px; */
    border-bottom: 1px solid gray;
    font-size: 16px;
    line-height: 30px;
    color: black;
}
.login_btn{
    margin-top: 8px;
    color: white;
    background-color: black;
    font-weight: bold;
}
.mem_btn{
    margin-top: 10px;
    color: white;
    background-color: rgb(71, 66, 109);
    font-weight: bold;
}
.cancle_btn{
    margin-top: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
}
.login_setting{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_setting > p{
    width: 100%;
}
.login_setting a:first-child{
    width: 20%;
    margin-left: 15px;
    margin-right: 25px;
    color: black;
}
.login_setting a:last-child{
    width: 20%;
    margin-left: 25px;
    color: black;
}
.footer_div{
    width: 100%;
    height: 80px;
    background-color: rgb(220, 220, 220);
    transform: translateY(-100%);
    display: block;
}
.error_message{
    height: 12px;
    font-size: 12px;
    color: red;
    margin-top: 1px;
    margin-bottom: 2px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
